/* Menue Bar */
.App {
  display: flex;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color:rgb(36, 84, 116);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.menu-header {
  text-align: center;
  margin-bottom: 20px;
}

.menu-header h1 {
  font-size: 24px;
  margin: 0;
}

.menu-items {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu-items li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu-items li:hover {
  background-color:rgb(36, 94, 132);
}

.menu-items i {
  margin-right: 10px;
}

.content {
  margin-left: 20%;
  /* flex-grow: 1; Allow the content to grow and take available space */
  padding: 10px;
}


.tasks-and-sidebar {
  display: flex;
  justify-content: space-between;
}

.Block1 {
  flex-grow: 1;
  margin-right: 20px; /* Adjust the margin as needed */
}

.Block3 {
  margin-left: 2%;
  flex-grow: 1;
  margin-right: 20px; /* Adjust the margin as needed */
}

.Block4 {
  margin-left: 2%;
  flex-grow: 1;
  margin-right: 20px; /* Adjust the margin as needed */
}



/* Old One CSS */
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #7794ce;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
